<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto nav-size">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('cover_page')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('about_me_page')}}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact_me_page')}}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
